<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TENDERNET - База Тендеров и Лотов Казахстана в Твоем Кармане</title>
    <meta name="description" content="TENDERNET - База Тендеров и Лотов Казахстана в Твоем Кармане">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/et-line.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/flag.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery.nstSlider.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v15.8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript">
        jQuery(function($){
            $(".phone").mask("8 999 999 99 99");
        });
    </script>

    

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->

  </head>
  <body>



    <!-- Header -->
    <header class="fixed-top">

      <nav class="navbar navbar-expand-xl transparent-nav cp-nav navbar-light bg-light fluid-nav">

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-center">

          <a class="navbar-brand" href="/" style="float: left;"> 
            <img src="{% static 'images/logo.png' %}" class="logo-header img-fluid" alt="">
          </a>

          <div class="header-top-toggler">
            <div class="header-top-toggler-button"></div>
          </div>
          <div class="top-nav mobile-cabinet-menu">
            <div class="dropdown dropdown-menu-right">
              <a href="javascript:void();" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 5px 10px; padding-right: 15px; font-size: 22px; color: #eb3546;"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" class="svg-inline--fa fa-user-tie fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"></path></svg></a>
              {% if request.user.is_authenticated %} 

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'profile' %}">Личный кабинет</a>
                <a class="dropdown-item" href="/lots/favourites">Избранные лоты</a>
                <a class="dropdown-item" href="javascript:void(0);">Избранные поиски</a>
                <a class="dropdown-item" href="/history_list">Мои действия</a>
                <a class="dropdown-item" href="/basket_list">Мои заявки</a>
                <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Выйти из аккаунта</a>
              </div>

              {% else %}

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'login' %}?next={{ request.path }}">Войти</a>
                <a class="dropdown-item" href="{% url 'register' %}">Зарегистрироваться</a>
              </div>

              {% endif %}
            </div>
          </div>

        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto main-nav">
            <li class="menu-item active"><a href="{% url 'index' %}">Главная</a></li>
            <li class="menu-item"><a href="{% url 'post_list' %}">Поиск лотов</a></li>
            <li class="menu-item dropdown" style="display: none;">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Навигация</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a href="{% url 'post_list' %}">Список лотов</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Страница лота</a></li>
                <li class="menu-item"><a href="{% url 'profile' %}">Кабинет клиента</a></li> 
                <li class="menu-item"><a href="/history_list">Мои действия</a></li>  
                <li class="menu-item"><a href="/basket_list">Мои заявки</a></li> 
                <li class="menu-item"><a href="javascript:void(0);">Архив</a></li> 
                <li class="menu-item"><a href="/lots/favourites">Избранные лоты</a></li> 
                <li class="menu-item"><a href="javascript:void(0);">Избранные поиски</a></li> 
              </ul>
            </li>
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Услуги</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a href="/pko">Прохождение ПКО</a></li>
                <li class="menu-item"><a href="/iso">Сертификаты ISO</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Юридические услуги</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Аутсорсинг</a></li>
              </ul>
            </li>
            <li class="menu-item post-tender"><a title="Получить консультацию" href="javascript:void();" data-toggle="modal" data-target="#orderform"><i class="fas fa-phone-volume"></i>&nbsp;Получить консультацию</a></li>

          </ul>

          {% if request.user.is_authenticated %} 
          <ul class="navbar-nav ml-auto account-nav cabinet-menu-desktop">
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Мой аккаунт</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a href="{% url 'profile' %}">Личный кабинет</a></li>
                <li class="menu-item"><a href="/lots/favourites">Избранные лоты</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Избранные поиски</a></li>
                <li class="menu-item"><a href="/history_list">Мои действия</a></li>
                <li class="menu-item"><a href="/basket_list">Мои заявки</a></li>
                <li class="menu-item"><a href="{% url 'logout' %}">Выйти из аккаунта</a></li>
              </ul>
            </li>
          </ul>

          {% else %}

          <ul class="navbar-nav ml-auto account-nav login-menu-desktop">
            <li class="menu-item login-popup"><a href="{% url 'login' %}?next={{ request.path }}">Войти</a></li>
            <li class="menu-item login-popup"><a href="{% url 'register' %}?next={{ request.path }}">Зарегистрироваться</a></li>
          </ul>

          {% endif %}

        </div>

      </nav>

      <!-- Modal -->
      <div class="account-entry">
        <div class="modal fade" id="orderform" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i data-feather="info"></i>Получить консультацию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="javascript:void();">
                  <div class="form-group">
                    <input type="text" placeholder="Ваше имя" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="tel" placeholder="Номер телефона" class="form-control phone" required="required">
                  </div>
                  <button class="button primary-bg btn-block">Отправить</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </header>
    <!-- Header End -->