    <!-- Лидмагнит -->
    <div class="newsletter-bg padding-top-90 padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-8">
            <div class="newsletter-wrap">
              <h3>Есть вопросы?</h3>
              <p>Закажите обратный звонок и получите бесплатную консультацию по пользованию сервисом и нашим услугам!</p>
              <form action="javascript:void();" class="newsletter-form form-inline">
                <div class="form-group">
                  <input type="tel" class="form-control phone" placeholder="Номер телефона" required="required">
                  <button class="btn button width-100" style="margin-top: 20px;">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Лидмагнит End -->