{% include "blocks/header.html" %}
{% block title %}Edit Profile {% endblock %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-top alice-bg padding-top-40 padding-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Редактировать свои данные</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Редактировать свои данные</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom">
	<div class="container">
		<div class="row">
		  <div class="col">
		    <div class="tender-details">
		      <div class="title-and-info">
		        <div class="title">
		          <div class="title-body">
		            <h4>ID: {{ user.username }} </h4>
		            <div class="info">
		              <span class="candidate-designation"><i class="fas fa-file"></i>&nbsp;Тариф "{{ user.profile.tarif }}"</span>
		            </div>
		          </div>
		        </div>

		      </div>

		      <hr>

		      <div class="details-information section-padding-20">
                <div class="row">
                  <div class="col-xl-8 col-lg-8">

                    <div class="information">

                      <style>
                        .edit-profile-form label{
                          display: block!important;
                        }
                        .edit-profile-form input{
                          height: auto;
                          min-width: 300px;
                          padding-left: 0px;
                          border: 0;
                          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                          transition: all .3s ease;
                          outline: none;
                          font-size: 14px;
                          color: #000;
                          background: #fff;
                          box-shadow: none;
                        }
                        .edit-profile-form input[type=submit]{
                          display: block;
                          width: 100%;
                          text-align: center;
                          margin-bottom: 10px;
                          padding: 12px 30px;
                          background: #eb3547;
                          color: #ffffff;
                          font-size: 14px;
                        }
                      </style>

                      <form action="." method="post" enctype="multipart/form-data" class="edit-profile-form">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <input type="submit" value="Сохранить" class="btn">
                      </form>

                      <hr>
                    </div>

                  </div>
                  <div class="col-xl-4 col-lg-4">

                    <div class="information-and-share">
                      <div class="tender-summary">
                        <div class="buttons" style="margin-top: 0px;">
                          <a href="/profile" class="button contact-button" style="display: block;width: 100%;text-align: center;margin-bottom: 0px;">В личный кабинет</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% include "blocks/footer.html" %}